<div id="chart_div_<%= setup.symbol%>_<%= setup.pattern_object.name%>_<%= setup.datetime.to_time.to_i%>" style="width:<%= width %>; height:<%= height %>;"></div>

<script type="text/javascript">
    $(function () {
        var data = [
            <% setup.quotes.each do |day| %>
            [<%= day.date.to_i %>000,<%= day.open %>,<%= day.high %>,<%= day.low %>,<%= day.close %>],
            <% end %>
        ];
        // create the chart
        $('#chart_div_<%= setup.symbol%>_<%= setup.pattern_object.name%>_<%= setup.datetime.to_time.to_i%>').highcharts('StockChart', {
            title: {
                text: '<%= setup.name%>'
            },
            subtitle: {
                text: '<%= setup.datetime.strftime('%B %d, %Y') %>'
            },
            xAxis: {
                gapGridLineWidth: 0
            },
            rangeSelector : {
                buttons : [{
                    type : 'day',
                    count : 1,
                    text : '1D'
                }, {
                    type : 'all',
                    count : 1,
                    text : 'All'
                }],
                selected : 1,
                inputEnabled : false
            },
            series : [{
                name : '<%=setup.name%>',
                type: 'area',
                data : data,
                gapSize: 5,
                tooltip: {
                    valueDecimals: 2
                },
                fillColor : {
                    linearGradient : {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops : [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                threshold: null
                // the event marker flags
                }, {
                type : 'flags',
                data : [
                    { x : Date.UTC(<%=setup.datetime.strftime('%Y').to_i%>, <%=setup.datetime.strftime('%m').to_i - 1%>, <%=setup.datetime.strftime('%d').to_i%>), title : 'Buy'},
                    <% others.each do |other| %>
                    { x : Date.UTC(<%=other.datetime.strftime('%Y').to_i%>, <%=other.datetime.strftime('%m').to_i - 1%>, <%=other.datetime.strftime('%d').to_i%>), title : 'Buy'},
                    <% end %>
                ]
            }]
        });
    });
</script>