<% content_for :title, 'Latest finance advices | Finance Assistant' %>
<br>
  <% @setups.each do |setup| %>
    <div class="page-header">
      <h1><a href="<%= setup_path setup %>" class="header-link"><%= setup.name %></a> <small><%= setup.datetime.strftime('%B %d, %Y') %></small></h1>
    </div>
    <div>
      <table class="table">
        <tr>
          <td>
            <h4 class="<%= setup.direction %>">
              <% if setup.direction == 'BUY_SELL' %>
                  <span class="BUY">BUY</span> / <span class="SELL">SELL</span>
              <% else %>
                  <%= setup.direction %>
              <% end %>
            </h4>
            <p>
              Symbol: <strong><%= setup.symbol %></strong>&nbsp;Exchange: <strong><%= setup.item.market %></strong>
            </p>
            <p>
              <% levels = JSON.parse setup.levels %>
              <% levels.each do |level| %>
                <% if level.has_key?('buy_stop') %>
                    <i>
                      Buy Stop: <strong><%= level['buy_stop'].round(2) %></strong>&nbsp;Stop Loss: <strong><%= level['stop_loss'].round(2) %></strong>&nbsp;Take profit: <strong><%= level['take_profit'].round(2) %></strong>
                    </i>
                <% end %>
                <% if level.has_key?('sell_stop') %>
                    <i>
                      Sell Stop: <strong><%= level['sell_stop'].round(2) %></strong>&nbsp;Stop Loss: <strong><%= level['stop_loss'].round(2) %></strong>&nbsp;Take profit: <strong><%= level['take_profit'].round(2) %></strong>
                    </i>
                <% end %>
                <% if level.has_key?('macd') %>
                    <p>
                      MACD: Value: <%= level['macd'] %>&nbsp;Signal: <%= level['signal'] %>&nbsp;Gistogram: <%= level['gistogram'] %>&nbsp;
                    </p>
                <% end %>
                <% if level.has_key?('stochastic') %>
                    <p>
                      Stochastic: K: <%= level['stochastic'] %>
                    </p>
                <% end %>
                <% if level.has_key?('sma200') %>
                    <p>
                      SMA200: Value: <%= level['sma200'] %>
                    </p>
                <% end %>
            <% end %>
            </p>
          </td>
          <td>
            <h4>&nbsp;</h4>
            <table class="table" id="mm_<%= setup.symbol%>_<%= setup.pattern_object.name%>_<%= setup.datetime.to_time.to_i%>">
              <tr><td>Account size <small>with overnight margin</small>: </td><td><input type="text" class="form-control total_money" placeholder="100000" onkeyup="calculate_total('mm_<%= setup.symbol%>_<%= setup.pattern_object.name%>_<%= setup.datetime.to_time.to_i%>', '<%= setup.direction %>', '<%= setup.levels %>')"></td></tr>
              <tr><td>Max risk %: </td><td><input type="text" class="form-control risk_percent" value="2"></td></tr>
              <tr><td style="border-bottom: 0px">Number of shares: </td><td style="border-bottom: 0px"><span class="shares">0</span></tr>
              <tr><td style="border-bottom: 0px">Profit: </td><td style="border-bottom: 0px"><span class="profit">0</span></tr>
              <tr><td style="border-bottom: 0px">Risk: </td><td style="border-bottom: 0px"><span class="risk">0</span></tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

<div class="paging">
  <%= will_paginate @setups, renderer: BootstrapPagination::Rails %>
</div>