<% content_for :title, @setup.name + ' ' + @setup.datetime.strftime('%B %d, %Y') + ' ' + @setup.direction + ' | Stock2.Watch' %>
<div class="page-header">
  <h1><%= @setup.name %> <small><%= @setup.datetime.strftime('%B %d, %Y') %></small></h1>
</div>
<br>
<div>
  <table class="table">
    <tr>
      <td style="width:30%;">
        <p><strong><i>Company Info</i></strong></p>
        <p>Symbol: <strong><%= @setup.symbol %></strong></p>
        <p>Exchange: <strong><%= @setup.item.market %></strong></p>
        <% unless @setup.item.description.nil? %>
            <% desc = JSON.parse @setup.item.description %>
            <% if desc.has_key?('Company_Info') %>
                <% company = desc['Company_Info'] %>
                <% if company.has_key?('CEO') %>
                    <p>CEO: <%= company['CEO'] %></p>
                <% end %>
                <% if company.has_key?('Industry') %>
                    <p>Industry: <%= company['Industry'] %></p>
                <% end %>
                <% if company.has_key?('Sector') %>
                    <p>Sector: <%= company['Sector'] %></p>
                <% end %>
                <% if company.has_key?('HQ_Location') %>
                    <p>HQ Location: <%= company['HQ_Location'] %></p>
                <% end %>
                <% if company.has_key?('Website') %>
                    <p>Website: <a href="<%= company['Website'] %>"><%= company['Website'] %></a></p>
                <% end %>
            <% end %>
        <% end %>
      </td>
      <td style="width:30%;">
        <p><strong><i>Advice</i></strong>&nbsp;<span class="<%= @setup.direction %>"><%= @setup.direction %></span></p>
        <% levels = JSON.parse @setup.levels %>
        <% levels.each do |level| %>
            <% if level.has_key?('buy_stop') %>
                <p class="BUY">Buy Stop: <strong><%= level['buy_stop'].round(2) %></strong></p>
                <p>Stop Loss: <strong><%= level['stop_loss'].round(2) %></strong></p>
                <p>Take profit: <strong><%= level['take_profit'].round(2) %></strong></p>
            <% end %>
            <% if level.has_key?('sell_stop') %>
                <p class="SELL">Sell Stop: <strong><%= level['sell_stop'].round(2) %></strong></p>
                <p>Stop Loss: <strong><%= level['stop_loss'].round(2) %></strong></p>
                <p>Take profit: <strong><%= level['take_profit'].round(2) %></strong></p>
            <% end %>
        <% end %>
        <p>Date: <%= @setup.datetime.strftime('%B %d, %Y') %></p>
      </td>
      <td style="width:40%;">
        <p><strong><i>Calculations</i></strong></p>
        <table class="table" id="mm_<%= @setup.symbol%>_<%= @setup.pattern_object.name%>_<%= @setup.datetime.to_time.to_i%>">
          <tr><td>Account size <small>with overnight margin</small>: </td><td><input type="text" class="form-control total_money" placeholder="100000" onkeyup="calculate_total('mm_<%= @setup.symbol%>_<%= @setup.pattern_object.name%>_<%= @setup.datetime.to_time.to_i%>', '<%= @setup.direction %>', '<%= @setup.levels %>')"></td></tr>
          <tr><td>Max risk %: </td><td><input type="text" class="form-control risk_percent" value="2"></td></tr>
          <tr><td style="border-bottom: 0px">Number of shares: </td><td style="border-bottom: 0px"><span class="shares">0</span></tr>
          <tr><td style="border-bottom: 0px">Profit: </td><td style="border-bottom: 0px"><span class="profit">0</span></tr>
          <tr><td style="border-bottom: 0px">Risk: </td><td style="border-bottom: 0px"><span class="risk">0</span></tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<br>
<div>
  <%= render :partial => 'amchart', :locals => { :setup => @setup, :width => '100%', :height => '500px', :selected => 1 } %>
</div>
<br>